# jetbrains project files
/.idea

# surpass githubs 100mb file size limit
EX1/llm-part/model2/model.safetensors
EX1/llm-part/model4/model.safetensors
EX1/llm-part/model8/model.safetensors
EX1/llm-part/modelfull/model.safetensors

EX2/LamaH-dataset/E_stream_network/EU-Hydro_network.shp
EX2/data_temp/100_gauge.csv

